<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{/Styles/Style-Index.css}">
</head>
<body>
    <aside>
        <img th:src="@{/img/logo.png}" alt="logo" class="logo">
        <ul>
            <li><a th:href="@{/Index}">Inicio</a></li>
            <li><a href="#" onclick="mostrarVista('clientes')">Clientes</a></li>
            <li><a href="#" onclick="mostrarVista('ventas')">Ventas</a></li>
            <li><a href="#" onclick="mostrarVista('productos')">Productos</a></li>
            <li><a href="#" onclick="mostrarVista('usuarios')">Usuarios</a></li>
            <li><a href="#" onclick="mostrarVista('detalle')">Detalle venta</a></li>
        </ul>
        <a th:href="@{/}">
            <div class="imgContainer">
                <img th:src="@{/img/logout.png}" alt="logout" class="logout">
            </div>
            <button>Cerrar Sesión</button>
        </a>
    </aside>
    <header>
        <p>Menú</p>
        <div class="userContainer">
            <img th:src="@{/img/user.png}" alt="">
        </div>
        
        <ul class="arrowDrop">
            <li> <img th:src="@{/img/arrow.png}" class="arrow">
                <ul class="submenu">
                    <li><a href="#">Configuracion</a></li>
                    <li><a href="#">Perfil</a></li>
                    <li><a href="#">Modo Oscuro</a></li>
                </ul>
            </li>

        </ul>

    </header>
    
    <div class="bannerContainer">

        <div id="productos" class="vista">
            <h2>Productos</h2>
            <div class="acciones">
                <button onclick="mostrarFormularioP()">+ Nuevo</button>
                <input type="text" placeholder="Buscar...">
            </div>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody id="tablaDatosP">
                <tr th:each="u : ${productos}">
                    <td th:text="${u.codigoProducto}"></td>
                    <td th:text="${u.nombreProducto}"></td>
                    <td>
                        <a th:href="@{'/eliminar/' +${u.codigoProducto}}">
                            <button>eliminar</button>
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
            <div id="formularioP" style="display:none;">
                <input type="text" id="nombreP" placeholder="Nombre">
                <button onclick="guardar()" class="save">Guardar</button>
                <button onclick="cerrarP()" class="cerrar">Cerrar</button>
            </div>
        </div>


        <div id="clientes" class="vista">
            <h2>Clientes</h2>
            <div class="acciones">
                <button onclick="mostrarFormularioC()">+ Nuevo</button>
                <input type="text" placeholder="Buscar...">
            </div>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody id="tablaDatosC">
                <tr th:each="u : ${clientes}">
                    <td th:text="${u.dpiCliente}"></td>
                    <td th:text="${u.nombreCliente}"></td>
                    <td>
                        <a th:href="@{'/eliminar/' +${u.dpiCliente}}">
                            <button>eliminar</button>
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
            <div id="formularioC" style="display:none;">
                <input type="text" id="nombreC" placeholder="Nombre">
                <button onclick="guardar()" class="save">Guardar</button>
                <button onclick="cerrarC()" class="cerrar">Cerrar</button>
            </div>
        </div>


        <div id="ventas" class="vista">
            <h2>Ventas</h2>
            <div class="acciones">
                <button onclick="mostrarFormularioV()">+ Nuevo</button>
                <input type="text" placeholder="Buscar...">
            </div>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody id="tablaDatosV">
                <tr th:each="u : ${ventas}">
                    <td th:text="${u.codigoVenta}"></td>
                    <td th:text="${u.total}"></td>
                    <td>
                        <a th:href="@{'/eliminar/' +${u.codigoVenta}}">
                            <button>eliminar</button>
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
            <div id="formularioV" style="display:none;">
                <input type="text" id="nombreV" placeholder="Nombre">
                <button onclick="guardar()" class="save">Guardar</button>
                <button onclick="cerrarV()" class="cerrar">Cerrar</button>
            </div>
        </div>


        <div id="usuarios" class="vista">
            <h2>Usuarios</h2>
            <div class="acciones">
                <button onclick="mostrarFormularioU()">+ Nuevo</button>
                <input type="text" placeholder="Buscar...">
            </div>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody id="tablaDatosU">
                <tr th:each="u : ${usuarios}">
                    <td th:text="${u.codigoUsuario}"></td>
                    <td th:text="${u.username}"></td>
                    <td>
                        <a th:href="@{'/eliminar/' +${u.codigoUsuario}}">
                            <button>eliminar</button>
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
            <div id="formularioU" style="display:none;">
                <input type="text" id="nombreU" placeholder="Nombre">
                <button onclick="guardar()" class="save">Guardar</button>
                <button onclick="cerrarU() " class="cerrar">Cerrar</button>
            </div>
        </div>

        <div id="detalle" class="vista">
            <h2>Detalle Ventas</h2>
            <div class="acciones">
                <button onclick="mostrarFormularioD()">+ Nuevo</button>
                <input type="text" placeholder="Buscar...">
            </div>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody id="tablaDatosD">
                <tr th:each="u : ${detalle}">
                    <td th:text="${u.codigoDetalleVenta}"></td>
                    <td th:text="${u.cantidad}"></td>
                    <td>
                        <a th:href="@{'/eliminar/' +${u.codigoDetalleVenta}}">
                            <button>eliminar</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="formularioD" style="display:none;">
                <input type="text" id="nombreD" placeholder="Nombre">
                <button onclick="guardar()" class="save">Guardar</button>
                <button onclick="cerrarD()" class="cerrar">Cerrar</button>
            </div>
        </div>
    </div>
    <script>
        function mostrarVista(id) {
            event.preventDefault(); // evita que recargue la página

            let vistas = document.querySelectorAll('.vista');
            vistas.forEach(v => v.classList.remove('activa'));

            document.getElementById(id).classList.add('activa');
        }
        function mostrarFormularioP() {
         document.getElementById("formularioP").style.display = "block";
        }
        function mostrarFormularioC() {
         document.getElementById("formularioC").style.display = "block";
        }
        function mostrarFormularioV() {
         document.getElementById("formularioV").style.display = "block";
        }
        function mostrarFormularioU() {
         document.getElementById("formularioU").style.display = "block";
        }
        function mostrarFormularioD() {
         document.getElementById("formularioD").style.display = "block";
        }

        function cerrarP(){
        document.getElementById("formularioP").style.display = "none";
        }
        function cerrarC(){
        document.getElementById("formularioC").style.display = "none";
        }
        function cerrarV(){
        document.getElementById("formularioV").style.display = "none";
        }
        function cerrarU(){
        document.getElementById("formularioU").style.display = "none";
        }
        function cerrarD(){
        document.getElementById("formularioD").style.display = "none";
        }

    </script>
</body>
</html>