<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../Styles/Style-Index.css">
</head>
<body>
    <aside>
        <img src="../img/logo.png" alt="logo" class="logo">
        <ul>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Ventas</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Usuarios</a></li>
        </ul>
        <div class="imgContainer">
            <img src="../img/logout.png" alt="logout" class="logout">
        </div>
        <button>Salir</button>
    </aside>
    <header>
        <p>Menu</p>
        <div class="userContainer">
            <img src="../img/user.png" alt="">
        </div>
        <ul>
            <li> <img src="../img/arrow.png" class="arrow"> 
                <ul>
                    <li>Configuracion</li>
                    <li>Perfil</li>
                    <li>Modo Oscuro</li>
                </ul>
            </li>

        </ul>

    </header>
</body>
</html>