<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" th:href="@{/Styles/Style-Index.css}">
</head>
<body>
    <aside>
        <img th:src="@{/img/logo.png}" alt="logo" class="logo">
        <ul>
            <li><a th:href="@{/Index}">Inicio</a></li>
            <li><a href="#">Clientes</a></li>
            <li><a href="#">Ventas</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Usuarios</a></li>
            <li><a href="#">Detalle venta</a></li>
        </ul>
        <a th:href="@{/}">
            <div class="imgContainer">
                <img th:src="@{/img/logout.png}" alt="logout" class="logout">
            </div>
            <button>Cerrar Sesión</button>
        </a>
    </aside>
    <header>
        <p>Menú</p>
        <div class="userContainer">
            <img th:src="@{/img/user.png}" alt="">
        </div>
        
        <ul class="arrowDrop">
            <li> <img th:src="@{/img/arrow.png}" class="arrow">
                <ul class="submenu">
                    <li><a href="#">Configuracion</a></li>
                    <li><a href="#">Perfil</a></li>
                    <li><a href="#">Modo Oscuro</a></li>
                </ul>
            </li>

        </ul>

    </header>
    
    <div class="bannerContainer">
    </div>
</body>
</html>