<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/Styles/Style-login.css}">
</head>
<body>
    <div class="container">
        <h2 >Registrarse</h2>
        <form th:action="@{login}" method="post">
            <input type="text" name="usuario" placeholder="Nombre de usuario" id="txtUser" required>
            <input type="password" name="password" placeholder="Contraseña" id="pswContra" required>
           <button class="ingresar" type="submit">Ingresar</button>
        </form>
    </div>
</body>
</html>