<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../Styles/Style-login.css">
</head>
<body>
    <div class="container">
        <h2 >Registrarse</h2>
        <input type="text" placeholder="Nombre de usuario" id="txtUser">
        <input type="password" placeholder="Contraseña" id="pswContra">
        <button class="ingresar">Ingresar</button>
    </div>
</body>
</html>